{% extends "base.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
<h1>Chart Test</h1>
<canvas id="resultsChart" width="400px" height="200px"></canvas>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    var intervalID = setInterval(update_values, 1000);
    var temp;
    var ctx = document.getElementById("resultsChart");
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: [],
            datasets: [{
                label: "This is a test",
                data: [temp],
                borderWidth: 1
            }],
            options: {
                plugins: {
                    colorschemes: {
                        scheme: 'brewer.Paired12'  // Use the default color scheme
                    },
                },
            }
        }
    });
    function update_values(){
            $.getJSON("/api?results",
        function(data) {
            $('#result').text(data.result);
            temp = data.result;
        });
        //c+=1;
        if (temp == undefined){
            return;
        }
        for (let [key, value] of Object.entries(temp)) {
            if (!myChart.data.labels.includes(key)){
                myChart.data.labels.push(key)
            }
            var i = myChart.data.labels.indexOf(key);
            myChart.data.datasets[0].data[i] = value;
        }
        /*
        temp.forEach((key, value) => Console.log(key, value))
        myChart.data.labels.push(c);
        myChart.data.datasets.forEach((dataset) => {
            dataset.data.push(temp);
        });*/
        myChart.update();
    };

</script>
{% endblock %}